fieldset {
  border: 0;
}

hr {
  font-weight: bold;
}

input {
  border: 0;
}

.attend-date {
  padding: 20px;
}

.education-container {
  display: flex;
}

.education-date-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.education-university {
  display: flex;
}

.education-university-content {
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
}

.expected-grad {
  font-size: 13.5px;
}

.expected-grad-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
}

.input-field-position {
}

.header-container {
  display: flex;
  flex-direction: column;
}

.header-content {
  display: flex;
}

.header-logo {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.header-input-logo {
  display: flex;
}

.head-name {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.name-input {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}

.remove-bullet {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sec-title {
  font-size: smaller;
}

.sec-title-extra-input {
  font-size: smaller;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  margin-bottom: -25px;
}

.wrapper {
  padding: 20px 20px;
  font-family: Calibri, sans-serif;
}

.wrapper fieldset {
  margin: 20px 0;
}
